{% set experience_web = date("now")|date("Y") - date("08.10.2010")|date("Y") %}
{% set experience_drupal = date("now")|date("Y") - date("08.10.2011")|date("Y") %}

<div class="block block--home row align-items-center">
  <div class="field-image col-lg-4 col-xxl-3 mb-4 mb-md-5 mb-lg-0">
    <div class="animation-avatar mx-auto" style="background-image: url('./assets/personal.jpg')" class="img-fluid"></div>
  </div>

  <div class="block-content text-center text-lg-start col-lg-8 col-xxl-9">
    <div class="padding-left">
      <h1 class="text-uppercase mb-4">Ion Obreja</h1>
      <div class="lead mb-3">I'm Front-end Drupal Developer from Moldova, Chisinau with Acquia certifications.</div>
      {# <div class="social social--links">
        <ul class="list-unstyled list-inline">
          <li class="list-inline-item">Linkedin</li>
          <li class="list-inline-item">Drupal</li>
          <li class="list-inline-item">Dribble</li>
        </ul>
      </div> #}
    </div>
  </div>
</div>
