---
import { Image } from "astro:assets";

import "./style.pcss";

import img from "../../../assets/img/components/header/glob.jpeg";
---

<div class="c--banner mc--full grid-container">
  <div class="field field--name-field-banner-thumbnail mc--full">
    <Image src={img} alt="background image" />
  </div>

  <div class="w--banner--header">
    <h1>Data Reporting Tool for MEAS - DaRT</h1>

    <div class="field field--name-field-subtitle">Be smart - use synergies</div>
  </div>
</div>
