{% extends "../html.twig" %}

{% block style -%}
  <link rel="stylesheet" href="./dist/css/components/layout/layout-sidebar/layout-style.css">
{%- endblock %}

{% block body %}
  <div class="page-layout pL-dashbord d-flex flex-column">
    <header class="pL-header w-100 sticky-top">
      {%- block header -%}
        {%- include "../../regions/header.twig" -%}
      {%- endblock -%}
    </header>

    <div class="d-flex flex-grow-1">
      <section class="pL-sidebar p-4 sticky-top overflow-auto border-end">
        {%- block sidebar -%}
          {%- include "../../regions/sidebar.twig" -%}
        {%- endblock -%}
      </section>

      <main class="pL-main flex-grow-1 p-4">
        {% if block('title') is defined %}
          <div class="pl-main-head border-bottom pb-4 mb-4">
            <h1>{% block title %}{% endblock %}</h1>
            <div class="lead">{% block description %}{% endblock %}</div>
          </div>
        {% endif %}

        {% block main %}{% endblock %}
      </main>
    </div>
  </div>
{% endblock %}
