$pL-dashboard-width:         230px;
$heder-height:               60px;

.wrap-body {
  min-height: 100vh;
}

.pL-dashbord {
  .navbar-brand,
  .pL-sidebar {
    max-width: $pL-dashboard-width;
    min-width: $pL-dashboard-width;
  }

  .pL-header {
    max-height: $heder-height;
  }

  .pL-sidebar {
    top: $heder-height;
    height: calc(100vh - #{$heder-height});
  }
}
