<ul class="menu menu-snippets mb-md-3 list-unstyled">
  <li>{% include "../default/link.twig" with { lHref: './index', lLabel: 'Intro' } %}</li>
</ul>

<h5>Header</h5>
<ul class="menu menu-snippets mb-md-3 list-unstyled">
  <li>{% include "../default/link.twig" with { lHref: "./layout", lLabel: 'Lyout' } %}</li>
  <li>{% include "../default/link.twig" with { lHref: "hero", lLabel: 'Hero' } %}</li>
</ul>

<h5>Content</h5>
<ul class="menu menu-snippets list-unstyled">
  <li>{% include "../default/link.twig" with { lHref: "features", lLabel: 'Features' } %}</li>
  <li>{% include "../default/link.twig" with { lHref: "icons", lLabel: 'Icons Block' } %}</li>
</ul>
