@import "../../../../scss/import";

.page-layout {
  height: 100vh;
}

.pL-header {
  @include media-breakpoint-up(xl) {
    width: 40vw;
    max-width: 280px;
  }
}

.pL-main {
  @include padding(6.5rem 3.5rem);
}
