{% extends "../html.twig" %}

{% block style -%}
  <link rel="stylesheet" href="./dist/css/style/josecret/style.css">
  <link rel="stylesheet" href="./dist/css/components/layout/layout-josecret/layout-style.css">
{%- endblock %}

{% block body %}
  <div class="page-layout d-flex flex-column flex-xl-row">
    {% if block('header') %}
      <header class="age-layout--header sticky-top bg-white p-3">
        {%- block header %}{% endblock -%}
      </header>
    {% endif %}

    <main class="age-layout--main d-flex flex-grow-1 border-start d-flex align-items-center">
      <div class="container">
        {% block main %}{% endblock %}
      </div>
    </main>
  </div>
{% endblock %}
