---
import LayoutDefoult from "../layouts/default.astro";

const number_of_year = new Date().getFullYear() - 2010
---

<LayoutDefoult>
  <div class="container">
    <div class="block block--about">
      <div class="block-content row">
        <div class="col-12">
          <h3>Ion Obreja Front-end Drupal developr</h3>
        </div>

        <div class="col-lg-7">
          <div class="mb-3">
            With over {number_of_year} years of experience in creating and maintaining responsive websites, I specialize in delivering user-friendly digital experiences. My expertise encompasses a strong proficiency in HTML, CSS, SASS, and JavaScript, as well as popular libraries and frameworks such as Bootstrap, jQuery, and React. I am passionate about usability and have a solid understanding of Adobe Creative Suite, particularly Adobe XD. Additionally, I have extensive knowledge of Drupal, having worked with the platform for over [insert number of years] years. I am dedicated to combining aesthetic design with functionality to enhance user engagement and satisfaction.
          </div>
        </div>

        <div class="col-lg-5 d-flex justify-content-lg-center">
          <div class="wrrapeer-address">
            <div class="address d-flex">
              <h6 class="d-inline-block">Birthday:</h6>08.10.1983
            </div>
            <div class="address d-flex">
              <h6 class="d-inline-block">Age:</h6>40
            </div>
            <div class="address d-flex">
              <h6 class="d-inline-block">Country:</h6>Moldova
            </div>
            <div class="address d-flex">
              <h6 class="d-inline-block">Email:</h6><a
                class="link-secondary"
                href="mailto:admin@josecret.com">admin@josecret.com</a
              >
            </div>
            <div class="address d-flex">
              <h6 class="d-inline-block">Phone:</h6>+373 689 22220
            </div>
            <div class="address d-flex">
              <h6 class="d-inline-block">Freelance:</h6>Available
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</LayoutDefoult>
