---
import LayoutDefoult from "../layouts/default.astro";
---

<LayoutDefoult>
  <div class="container">
    <div class="block block--about">
      <div class="block-content row">
        <div class="col-12">
          <h3>Ion Obreja Front-end Drupal developr</h3>
        </div>

        <div class="col-lg-7">
          <div class="mb-3">
            Innovative Front End Developer with more than years of experience
            building and maintaining responsive websites. Proficient in HTML,
            CSS, SASS, JavaScript, plus modern libraries and frameworks like
            Boostrap, JQueary, React. Passionate about usability and possess
            working knowledge of Adobe apps mostly Adobe XD and of course Drupal
            knowing it for more than years.
          </div>
        </div>

        <div class="col-lg-5 d-flex justify-content-lg-center">
          <div class="wrrapeer-address">
            <div class="address d-flex">
              <h6 class="d-inline-block">Birthday:</h6>08.10.1983
            </div>
            <div class="address d-flex">
              <h6 class="d-inline-block">Age:</h6>40
            </div>
            <div class="address d-flex">
              <h6 class="d-inline-block">Country:</h6>Moldova
            </div>
            <div class="address d-flex">
              <h6 class="d-inline-block">Email:</h6><a
                class="link-secondary"
                href="mailto:admin@josecret.com">admin@josecret.com</a
              >
            </div>
            <div class="address d-flex">
              <h6 class="d-inline-block">Phone:</h6>+373 689 22220
            </div>
            <div class="address d-flex">
              <h6 class="d-inline-block">Freelance:</h6>Available
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</LayoutDefoult>
