:where(.badge) {
  --_badge_tt: 0.15s;
  display: inline-block;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;

  padding: var(--badge-py, 0.35em) var(--badge-px, 0.65em);
  font-size: var(--badge-fs, 0.75em);
  font-weight: var(--badge-fw, var(--fw-medium));
  color: var(--_badge-c, var(--c-white));
  background-color: var(--_badge-bg, transparent);
  border-radius: var(--badge-br, var(--br));

  transition: color var(--badge_tt, var(--_badge_tt)) ease-in-out,
    background-color var(--badge_tt, var(--_badge_tt)) ease-in-out;

  &:empty {
    display: none;
  }
}

.btn .badge {
  position: relative;
  top: -1px;
}
