.page-tag {
  display: inline-block;
  color: $gray-800;
  background: rgba($black, .04);
  line-height: 2em;
  padding: .35rem .75rem;
  @include margin-bottom(2em);
}

.block--about {
  .d-inline-block {
    margin-bottom: 0;
    min-width: 96px;
  }
}

.animation-avatar {
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: inset 0 0 0 9px rgba($white, .3);
  animation: transform 50s ease-in-out infinite both alternate;
  max-width: 25rem;

  &:before {
    content: "";
    display: block;
    padding-top: 100%;
  }
}

@keyframes transform {
  0%,
100% { border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%; } 
 14% { border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%; } 
 28% { border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%; } 
 42% { border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%; } 
 56% { border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%; } 
 70% { border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%; } 
 84% { border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%; } 
}

.wrapper-copyright {
  a {
    color: $body-color;
    transition: letter-spacing .2s ease-in-out;

    &:hover {
      letter-spacing: .15em;
    }
  }
}

// Nav
.nav-main {
  .nav-link {
    color: $body-color;
    font-weight: 500;
    font-size: 1.125rem;
    transition: letter-spacing .2s ease-in-out;

    &:hover {
      letter-spacing: .15em;
    }
  }
}

// Nav
.navbar-toggler {
  z-index: 1;
}

#joNavMain {
  height: 100vh;
  transition: opacity ease-in-out .3s;

  @include media-breakpoint-down(xl) {
    color: $white;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba($secondary, .98);
    opacity: 0;
    visibility: hidden;

    a {
      color: $white;

      &.active {
        color: rgba($white, .5);
      }
    }

    &.show {
      opacity: 1;
      visibility: visible;
    }
  }

  @include media-breakpoint-up(xl) {
    height: 100%;
  }
}

@include media-breakpoint-only(md) {
  .wrrapeer-address {
    display: flex;
    flex-wrap: wrap;

    .address {
      width: 50%;
    }
  }
}

// Blocks

// Media
@include media-breakpoint-down(md) {
  .animation-avatar {
    width: 80%;
  }
}

@include media-breakpoint-up(lg) {
  .block--home {
    .padding-left {
      @include padding-left(4rem);
    }
  }
}
