:root {
  --gutter-x: var(--gutter);
  --gutter-y: var(--gutter);
  --container-py: var(--gutter);

  @media (--sm) {
    --container-mw: 540px;
  }

  @media (--md) {
    --container-mw: 720px;
  }

  @media (--lg) {
    --container-mw: 960px;
  }

  @media (--xl) {
    --container-mw: 1140px;
  }

  @media (--xxl) {
    --container-mw: 1320px;
  }
}

.container,
.container-fluid {
  width: 100%;
  padding-inline: var(--container-py);
  padding-left: var(--container-py);
  margin-right: auto;
  margin-left: auto;

  @media (--md) {
    padding-right: calc(var(--gutter-x) * 0.5);
    padding-left: calc(var(--gutter-x) * 0.5);
  }
}

.container {
  max-width: var(--container-mw, 100%);
}
