<nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom">
  <div class="container-fluid pl-0">
    <a class="navbar-brand px-4" href="/"><img src="../assets/logo.svg" /></a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainsidebar" aria-controls="mainsidebar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="mainsidebar">
      {% include "../../content/navigations/nav-header.twig" %}

      <form class="d-inline-flex">
        <input class="form-control mr-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
