<ul class="navbar-nav mr-auto mb-2 mb-lg-0">
  <li class="nav-item">
    {% include "../../components/default/link.twig" with {
      lHref: 'styleguide.html',
      lClass: 'nav-link',
      lLabel: 'Style Guide'
    } %}
  </li>

  <li class="nav-item">
    {% include "../../components/default/link.twig" with {
      lHref: 'snippets.html',
      lClass: 'nav-link',
      lLabel: 'Snippets'
    } %}
  </li>

  <li class="nav-item">
    {% include "../../components/default/link.twig" with {
      lClass: 'nav-link',
      lLabel: 'Main Demo'
    } %}
  </li>

  <li class="nav-item">
    {% include "../../components/default/link.twig" with {
      lClass: 'nav-link',
      lLabel: 'Get Support'
    } %}
  </li>
</ul>
